body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  padding: 20px;
}

/* Navbar */
.navbar {
  background: black;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-item {
  color: white;
  text-decoration: none;
}

.nav-item.active {
  text-decoration: underline;
  font-weight: bold;
}

/* Plates */
.plate-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.plate-card {
  background: white;
  border: 1px solid #ddd;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
}

.available {
  color: green;
  font-weight: bold;
}

.not-available {
  color: gray;
  font-weight: bold;
}

.details-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

/* Forms */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form button {
  padding: 10px;
  border: none;
  background: black;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.error {
  color: red;
  font-weight: bold;
}

.logout-btn {
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}